@{
    ViewData["Title"] = "ویرایش کاربر جدید";
}
@model UserDto
<div class="container">

    <h4>ویرایش کاربر جدید</h4>

    <form asp-action="EditUser" class="form-signin" method="post">
        <input asp-for="Id" type="hidden" class="form-control">
        <div class="form-group">
            <input asp-for="UserName" type="text" class="form-control" placeholder="نام کاربری" autofocus>
        </div>
        <div class="form-group">
            <input asp-for="Email" type="email" class="form-control" placeholder="ایمیل ">
        </div>
        <div class="form-group">
            <div class="form-group">
                <label class="col-sm-2 control-label">نقش کاربر</label>
                <div class="col-sm-10">
                    <select name="RoleId" class="form-control" required>
                        <option value=@Model.RoleId> @Model.RoleTitle</option>
                    @*     @foreach (Role item in ViewBag.Role)
                        {
                            <option value="@item.Id">@item.RoleTitle</option>
                        } *@


                    </select>
                </div>
            </div>
        </div>


        <button class=" btn btn-lg btn-success " type="submit">
            ویرایش
        </button>
        <div asp-validation-summary="All" class="text-danger"></div>


    </form>
</div>