@{
    ViewData["Title"] = "فروشگاه اینترنتی";
}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] </title>
    <!-- font---------------------------------------->
    <link rel="stylesheet" href="~/SiteTemplate/assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="~/SiteTemplate/assets/css/vendor/materialdesignicons.css">
    <!-- plugin-------------------------------------->
    <link rel="stylesheet" href="~/SiteTemplate/assets/css/vendor/bootstrap.css">
    <link rel="stylesheet" href="~/SiteTemplate/assets/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="~/SiteTemplate/assets/css/vendor/nice-select.css">
    <!-- main-style---------------------------------->
    <link rel="stylesheet" href="~/SiteTemplate/assets/css/main.css">
    <link rel="stylesheet" href="~/SiteTemplate/assets/css/responsive.css">
</head>
<body>
    <!-- header-------------------------------->
    <partial name ="_HeaderMain" />
    
    @RenderBody()

    <!-- footer------------------------------------------->
    <partial name="_FooterMain" />
    <!-- footer------------------------------------------->
    <!-- scroll_Progress------------------------->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- scroll_Progress------------------------->

</body>
<!-- file js---------------------------------------------------->


<script src="~/SiteTemplate/~/SiteTemplate/assets/js/vendor/jquery-3.2.1.min.js"></script>
<script src="~/SiteTemplate/assets/js/vendor/bootstrap.js"></script>
<!-- plugin----------------------------------------------------->
<script src="~/SiteTemplate/assets/js/vendor/owl.carousel.min.js"></script>
<script src="~/SiteTemplate/assets/js/vendor/jquery.countdown.js"></script>
<script src="~/SiteTemplate/assets/js/vendor/jquery.nice-select.min.js"></script>
<!-- main js---------------------------------------------------->
<script src="~/SiteTemplate/assets/js/main.js"></script>
 @RenderSection("Scripts", false)
    @RenderSection("Modals", false)
</html>