<section class="h-main-row">
    <div class="col-lg-9 col-xs-12 pr">
        <div class="header-right">
            <div class="col-lg-3 pr">
                <partial name="_LogoSite" />
            </div>
            <div class="col-lg-9 pl">
                <div class="header-search row text-right">
                    <div class="header-search-box">
                        <form action="#" class="form-search">
                            <input type="search" class="header-search-input" name="search-input" placeholder="نام کالا، برند و یا دسته مورد نظر خود را جستجو کنید…">
                            <div class="action-btns">
                                <button class="btn btn-search" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                                <div class="search-filter">
                                    <div class="form-ui">
                                        <div class="custom-select-ui">
                                            <select class="right">
                                                <option>همه دسته ها</option>
                                                <option>کالای دیجیتال</option>
                                                <option>آرایشی بهداشتی</option>
                                                <option>ابزاری اداری</option>
                                                <option>مد پوشاک</option>
                                                <option>خانه آشپز خانه</option>
                                                <option>لوازم تحریر و هنر</option>
                                                <option>کودک و نوزاد</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="_UserPanel" />
</section>