@model RegisterDto
@{
    Layout = null;
}
@{
    ViewData["Title"] = "ایجاد حساب کاربری";
}
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @ViewData["Title"]
    </title>
    <link href="/css/LoginAndRegister.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <div class="background-image"></div>

    <div class="login-container">


        <form asp-action="Register" method="post">
            <div class="form-group">
                <label for="fullname">نام و نام خانوادگی</label>
                <input asp-for="FullName" type="text"  />
            </div>
            <div class="form-group">
                <label for="username">نام کاربری</label>
                <input asp-for="UserName" type="text"  />
            </div>
            <div class="form-group">
                <label for="email"> ایمیل</label>
                <input asp-for="Email" type="text" />
            </div>
            <div class="form-group">
                <label for="mobile"> موبایل</label>
                <input asp-for="Mobile" type="tel" />
            </div>
            <div class="form-group">
                <label for="password">رمز عبور</label>
                <input asp-for="Password" type="password" />
            </div>
            
            <div class="form-group">
                <label for="repassword">تکرار رمز عبور</label>
                <input asp-for="RePassword" type="password" />
            </div>

         

            <button type="submit" class="login-button">ثبت نام</button>

            <div asp-validation-summary="All" class="text-danger"></div>

        </form>

        <div class="bottom-links">
            <a asp-action="Login" asp-controller="Account" class="bottom-button">ورود حساب کاربری</a>
        </div>
    </div>
</body>
</html>